{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": ["> 1% in GB, not dead"]
      },
      "debug": true,
      "useBuiltIns": false
      }]
  ],
  "plugins": []
}

