{
    "presets": [
      ["@babel/preset-env", {
        "targets": {
          "browsers": ["> 1% in GB, not dead"]
      },
      "debug": true,
      "useBuiltIns": false
      }]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import","@babel/plugin-proposal-object-rest-spread","@babel/plugin-transform-runtime"]
}

